.invoicemodal{
    margin: auto;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;

    & .invoice-top {
        width: 100%;
        & h1 {
            color: #2c304d;
            font-size: 3rem;
            text-transform: uppercase;
            margin-right: 10px;
            margin-bottom: 0;
        }
    
        & span {
            display: block;
            font-weight: 600;
            font-style: italic;
        }
    }


    

    & .invoice-header {
        width: 100%;
        padding: 0rem 2rem;
        font-size: 1.1rem;
        &  .invoice-logo {
            display: block;
        }
    
        &  .details .company-name {
            color: #2c304d;
            font-weight: 600;
            font-size: 1.6rem;
        }
    
        &  .details ul li,
        &  .client-details ul li{
            list-style: none;
        }
    
        &  .client-details .title {
            color: #2c304d;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }

    & .invoice-date {
        padding: 0 2rem;
        padding: 0 2rem;
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        font-weight: bold;
    }

    & .invoice-footer {
        color: #aea9c3;
        background: #2c304d;
        padding: 2rem 2rem;
        margin-top: 2rem;
    }

    & .total {
        text-align: center;
        line-height: 2.2rem;
        & .title {
            color: #aea9c3;
            font-size: 1.4rem;
            font-weight: 600;
        }
        & .number {
            color: #e76c90;
            font-size: 2.4rem;
            font-weight: 700;
        }
        & .taxe {
            color: #aea9c3;
        }
    }

   
    & .footer-bottom {
        margin-top: 4rem;
        text-align: center;
    }
    & .thx i {
        color: #e76c90;
        font-size: 3rem;
        margin-bottom: -15px;
    }

    & .table{

        & thead th {
            vertical-align: middle;
            border: 0 none;
            padding: 1rem 0.85rem;
            color: #e76c90;
            font-weight: 600;
            text-transform: uppercase;
        }
    
        & td {
            border-bottom: 0 none;
            padding: 1.2rem;
            vertical-align: middle;
            color: #5d5386;
            font-weight: 600;
            
            & .description {
                color: #98a8b4;
                font-size: .9rem;
                font-weight: 500;
            }
        }
    
    }
}

