<div *ngIf="!patient">
    <h2 class="notiene">Usted no tiene registro medico con esta Clínica.</h2>
</div>
<!-- <div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-1x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div> -->
<section class="grid_home"  >
    
    <div class="container">
        <div class="parent">

            <div class="div-restaurant " (click)="openOrange()" >
                <div >
                    <h5>Recent Notes.</h5>
                    <img src="./assets/images/medical/morning-img-01.png" alt="">
                    <ng-container >

                        <div class="datoscita">
                            <h3>RBT: Session Date {{notesRbt?.session_date|date }}</h3>
                            <p>{{notesRbt?.pos}} - {{notesRbt?.status}}</p>

                            <h3>BCBA: Session Date {{notesBCBA?.session_date|date }}</h3>
                            <p>{{notesBCBA?.pos}} - {{notesBCBA?.status}}</p>
                        
                        </div>


                    </ng-container>
                </div>
            </div>
            <!-- (click)="openGreen()" -->
            <div class="div-mercados  " >
                
                <div class="perfil-home">
                    <div class="fotoPerfil">
                        <img src="{{imagenSerUrl}}{{user.avatar}}" alt="">
                    </div>
                    <div class="datospaciente">
                        <h5>Hi!,</h5>
                        <h3 style="font-size: 16px;">{{parent?.name}}</h3>
                        <p><b>Patient Id</b> {{parent?.patient_id}}</p>
                        <p><b>Location:</b> {{parent?.location_id}}</p>
                    </div>
                </div>
            </div>

            <div class="div-farmacia " (click)="openBlue()">
                <div >
                    <h5>Resumen Patient.</h5>
                    <div *ngIf="!patient">
                        <h4 class="datosmedicinas-oculto">No posee citas atendidas</h4>
                    </div>

                    <!-- <img src="./assets/images/food/medical.png" alt=""> -->
                    <div *ngIf="patient">
                        <div class="fotoPatient">
                            <img src="{{patient.avatar}}" alt="">
                            <p style="margin-bottom: 0 !important;"><b style="color:#fff; ">Name:</b> {{patient?.full_name}}</p>
                                <p style="margin-bottom: 0 !important;"><b style="color:#fff; ">PatientId:</b> {{patient?.patient_id}}</p>
                                <p style="margin-bottom: 0 !important;"><b style="color:#fff; ">Location:</b> {{patient?.locals?.title}}</p>
                        </div>
                        <div class="datosmedicinas-oculto">
                            <p ><b style="color:#fff; ">Name:</b> {{patient?.full_name}}</p>
                            <p ><b style="color:#fff; ">PatientId:</b> {{patient?.patient_id}}</p>
                            <p ><b style="color:#fff; ">Location:</b> {{patient?.locals?.title}}</p>
                                <p><b style="color:#fff">Insurance: </b>{{patient?.insurances?.insurer_name}}</p>
                                <p><b style="color:#fff">Birth Date:</b> {{patient?.birth_date|date}}</p>
                                <p><b style="color:#fff">Elegibility Date:</b> {{patient?.elegibility_date|date}}</p>
                                <p><b style="color:#fff">Gender: </b>
                                    <span *ngIf="patient?.gender === 1"> <i class="fa fa-user"></i>&nbsp;Male</span>
                                    <span *ngIf="patient?.gender === 2"> <i class="fa fa-user"></i>&nbsp;Female</span>
                                    
                                </p>
                                <br>
                                <p><b style="color:#fff">Especialists:</b></p>
                                <div class="row">
                                    <div class="col-xl-3 col-md-6">
                                        <div class="detail-specialist">
                                            <div class="foto">
                                                <img src="{{patient.rbt_home.avatar}}"  alt="">

                                            </div>
                                            <div class="infopatient">
                                                <h5 class="rol">RBT</h5>
                                                <p class="nombre">{{patient?.rbt_home?.name}} {{patient?.rbt_home?.surname}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="detail-specialist">
                                            <div class="foto">

                                                <img src="{{patient.rbt2_school.avatar}}" alt="">
                                            </div>
                                            
                                            <div class="infopatient">
                                                <h5>RBT 2 </h5>
                                                <p>{{patient?.rbt2_school?.name}} {{patient?.rbt2_school?.surname}}</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="detail-specialist">
                                            <div class="foto">
                                                <img src="{{patient.bcba_home.avatar}}" alt="">
                                            </div>
                                            
                                            <div class="infopatient">
                                                <h5>BCBA </h5>
                                            <p>{{patient?.bcba_home?.name}} {{patient?.bcba_home?.surname}}</p>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="detail-specialist">
                                            <div class="foto">
                                            <img src="{{patient.bcba2_school.avatar}}" alt="">
                                            </div>
                                            
                                            <div class="infopatient">
                                                <h5>BCBA 2</h5>
                                                <p>{{patient?.bcba2_school?.name}} {{patient?.bcba2_school?.surname}}</p>
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="detail-specialist">
                                            <div class="foto">
                                                <img src="{{patient.clin_director.avatar}}" alt="">
                                                </div>
                                                
                                                <div class="infopatient">
                                                    <h5>Clinical Director</h5>
                                                    <p>{{patient?.clin_director?.name}} {{patient?.clin_director?.surname}}</p>
                                                </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>